#map-container {
  border: 1px solid #d3d2cc;
}

agm-map {
  height: 90vh;
}

.agm-info-window-content.strong{
  width: 200px !important;
}

* {
  font-family: Lato;
}

a {
  color: darkblue;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}