<h1>My Map</h1>
<p><a href="weewaves@gmail.com"
     target="_blank">Weewaves</a></p>

<agm-map #GoogleMap
         [latitude]="lat"
         [longitude]="lng"
         [zoom]="zoom"
         [disableDefaultUI]="false"
         [zoomControl]="false"
         (mapClick)="mapClicked($event)">

  <agm-marker #MarkerLayer
              *ngFor="let m of markers; let i = index"
              (markerClick)="clickedMarker(m, i)"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [label]="m.label"
              [markerDraggable]="m.draggable"
              (dragEnd)="markerDragEnd(m, $event)">

    <agm-info-window class="waypoint-info">
      <strong>InfoWindow content</strong>
    </agm-info-window>

  </agm-marker>
</agm-map>